DarkPlasma_SkillCostExtension:
  name: DarkPlasma_SkillCostExtension
  year: 2020
  license: MIT
  histories:
    - date: '2021/01/11'
      version: '1.3.0'
      description: 'HP消費率設定に対応'
    - date: '2020/10/26'
      version: '1.2.1'
      description: '特徴のMP消費率が正しく反映されない不具合を修正'
    - date: '2020/10/06'
      version: '1.2.0'
      description: '変数をコストに設定する機能を追加'
    - date: '2020/10/03'
      version: '1.1.1'
      description: 'コメント修正, ヘルプにコスト表示を追記'
    - date: '2020/09/11'
      version: '1.1.0'
      description: 'アイテム/ゴールド消費数を選択時に反映するオプション追加'
    - date: '2020/09/08'
      version: '1.0.1'
      description: 'rollup構成へ移行'
    - date: '2020/08/27'
      version: '1.0.0'
      description: 'MZ版公開'

  locates:
    - ja
  plugindesc:
    ja: 'スキルコストを拡張する'
  parameters:
    - param: consumeImmediately
      text:
        ja: 入力時に消費反映
      desc:
        ja: アイテムやゴールドを消費するスキルを選択した際、後続のメンバーが参照するアイテム数/ゴールドを消費後のものにする
      type: boolean
      default: true
  commands: []
  structures:
  dependencies:
    orderAfter: DarkPlasma_ConsumeItemImmediately
  help:
    ja: |
      スキルのメモ欄に以下のように記述するとコストを追加できます。

      <SkillCost:
        hp:（消費HP 固定値）
        hpRate:（消費HP 最大値に対する割合）
        mpRate:（消費MP 最大値に対する割合）
        item:（アイテムID）:（個数）
        gold:（お金）
        variable:（変数ID）:（数値）
      >

      指定する項目はどれか一つでもよく
      また、item, variableについては複数指定が可能です。

      例1: アイテムID1とアイテムID2を一つずつ消費するスキル

      <SkillCost:
        item:1:1
        item:2:1
      >

      例2: 変数ID1の値を5, 変数ID3の値を1消費するスキル
      <SkillCost:
        variable:1:5
        variable:3:1
      >

      スキルリスト上でのコスト表示について
      本プラグインではアイテムやお金の拡張コスト表示を行っていません。
      拡張コストを表示したい場合、
      DarkPlasma_SkillCostExtensionView等の追加プラグインをご利用ください。

      アイテム選択時に消費をアイテム数へ反映する機能について
      本プラグインではスキルによる消費数の反映のみ行っています。
      アイテムを直接使用した場合の消費数の反映については、
      DarkPlasma_ConsumeItemImmediately をご利用ください。
      本プラグインと併用する場合、DarkPlasma_ConsumeItemImmediatelyよりも
      本プラグインを下に配置してください。
