DarkPlasma_NameWindow:
  name: DarkPlasma_NameWindow
  version: '1.0.0'
  year: 2020
  license: MIT
  histories:
    - date: '2020/08/27'
      version: '1.0.0'
      description: 'MZ版公開'

  locates:
    - ja
  plugindesc:
    ja: '会話イベント中に名前ウィンドウを表示する'
  parameters:
    - param: defaultTextColor
      desc:
        ja: 名前ウィンドウのデフォルト文字色
      text:
        ja: デフォルト文字色
      type: number
      default: 6
    - param: actorColors
      desc:
        ja: アクターごとの名前の色を設定する
      text:
        ja: アクター色設定
      type: ActorColor[]
      default: []
    - param: autoNameWindow
      desc:
        ja: 「及び（を検出して自動で名前ウィンドウを表示する
      text:
        ja: 自動名前ウィンドウ
      type: boolean
      default: false
    - param: forceAutoNameColor
      desc:
        ja: 自動名前検出した名前の色をこのプラグインの設定に固定する（DarkPlasma_AutoHighlight等による変換を無視する）
      text:
        ja: 自動名前色強制
      type: boolean
      default: true
  commands: []
  structures:
    ActorColor:
      - param: actor
        text:
          ja: アクター
        type: actor
      - param: color
        desc:
          ja: 名前の色。色番号
        text:
          ja: 名前の色
        type: string
        default: 6
  help:
    ja: |
      メッセージテキストに以下のように記述すると名前ウィンドウを表示します。

      \n<***>

      また、以下のように入力するとIDに対応するアクター名を名前ウィンドウに表示します。

      \ndp<アクターID>
