extends widget/base

block content
  article#page
    h1= page.title
    != page.content
  #paginator!= paginator()
  if theme.widgets.includes('category') && site.categories.length > 0
    include widget/widget-categories
  if theme.widgets.includes('tag') && site.tags.length > 0
    include widget/widget-tag
