DarkPlasma_ChoiceExtension:
  name: DarkPlasma_ChoiceExtension
  version: '1.0.0'
  year: 2020
  license: MIT
  histories:
    - date: '2020/09/16'
      version: '1.1.1'
      description: '入れ子選択肢を正しく処理できない不具合を修正'
    - date: '2020/09/16'
      version: '1.1.0'
      description: '外部プラグイン向けインターフェースを公開'
    - date: '2020/09/15'
      version: '1.0.0'
      description: '公開'

  locates:
    - ja
  plugindesc:
    ja: '選択肢を拡張する'
  parameters:
    - param: maxPageRows
      text:
        ja: 1ページの行数
      type: number
      default: 6
  commands: []
  structures:
  help:
    ja: |
      選択肢を拡張します。

      注意:
        本プラグインはMPP_ChoiceEXの機能を一部MZ対応していますが、
        積極的に全機能を移植するつもりはありません。

      選択肢の文章中に
      if(条件式)
      を書くと、条件次第で項目の表示非表示を切り替えます。
      MVプロジェクトの移行に用いてください。
      en(条件式)
      を書くと、条件次第で選択肢の有効無効を切り替えます。

      条件式には下記の記法が使用できます
      - v[n] (変数n番を参照する)
      - s[n] (スイッチn番を参照する)

      選択肢の書き方の例:
      if(v[5]>3)hogehoge (変数5番の値が3より大の場合のみ選択肢hogehogeを表示する)
      en(s[3])fugafuga (スイッチ3番がONの場合のみ選択肢fugafugaを有効にする)

      イベントコマンド「選択肢の表示」を続けて配置すると
      それらに設定された選択肢をまとめて表示します。

      デフォルトやキャンセル時の挙動は最初の選択肢コマンドのものが適用されます。

      プログラムインターフェース:
      $gameMessage.originalChoices() : object[]
        元々の選択肢一覧を表示フラグ、有効フラグとともに取得

      $gameMessage.originalIndexOfDiplayedChoices() : number[]
        表示すべき選択肢の元々のインデックス一覧を取得
