DarkPlasma_ExpandTargetScope:
  name: DarkPlasma_ExpandTargetScope
  year: 2020
  license: MIT
  histories:
    - date: '2020/10/26'
      version: '1.0.4'
      description: 'SkillCostExtensionとの競合を修正'
    - date: '2020/10/17'
      version: '1.0.3'
      description: '全体化スキル選択のカーソルが不自然になる不具合を修正'
    - date: '2020/10/17'
      version: '1.0.3'
      description: '味方対象のスキルが全体化できない不具合を修正'
    - date: '2020/09/18'
      version: '1.0.2'
      description: '全体化ボタンが効いていない不具合を修正'
    - date: '2020/09/08'
      version: '1.0.1'
      description: 'rollup構成へ移行'
    - date: '2020/09/05'
      version: '1.0.0'
      description: '公開'

  locates:
    - ja
  plugindesc:
    ja: 'スキル/アイテムの対象全体化'
  parameters:
    - param: switchScopeButton
      text:
        ja: 全体化ボタン
      default: shift
      type: select
      options:
        - name: pageup
        - name: pagedown
        - name: shift
        - name: control
        - name: tab
    - param: damageRateForAll
      text:
        ja: 全体ダメージ倍率
      type: number
      default: 70
      desc:
        ja: 全体化時のダメージ倍率（％）
    - param: mpCostRateForAll
      text:
        ja: 全体MP倍率
      type: number
      default: 100
      desc:
        ja: 全体化時のMP消費倍率（％）
  help:
    ja: |
      対象が単体のスキルやアイテムのメモ欄に以下のように記述することで、
      戦闘中に対象を全体化できるようになります。
      <canExpandScope>

      以下のように記述すると、全体化時のアニメーションが n に差し替えられます。
      <expandedAnimationId:n>
