DarkPlasma_ClearEquip:
  name: DarkPlasma_ClearEquip
  year: 2020
  license: MIT
  histories:
    - date: '2020/10/30'
      version: '2.1.0'
      description: 'プラグインコマンドを追加'
    - date: '2020/10/10'
      version: '2.0.2'
      description: 'リファクタ'
    - date: '2020/09/29'
      version: '2.0.1'
      description: 'プラグインコマンドに説明を追加'
    - date: '2020/09/08'
      version: '2.0.0'
      description: 'パラメータ名を変更'
    - date: '2020/08/27'
      version: '1.0.0'
      description: 'MZ版公開'

  locates:
    - ja
  plugindesc:
    ja: '装備をすべてはずす'
  parameters:
    - param: clearEquipWhenMemberIsOut
      text:
        ja: パーティアウト時装備はずす
      desc:
        ja: パーティから外れたときに装備をすべてはずすかどうか
      type: boolean
      default: false
  commands:
    - command: clearEquip
      text:
        ja: 装備をはずす
      desc:
        ja: 指定したアクターの装備をはずします。
      args:
        - arg: actorId
          text:
            ja: アクター
          type: actor
        - arg: equipTypes
          text:
            ja: 装備タイプID
          desc:
            ja: はずす装備タイプ一覧
          type: number[]
    - command: clearAllMemberEquip
      text:
        ja: 全員の装備をはずす
      desc:
        ja: パーティメンバー全員の装備をはずします。
      args:
        - arg: equipTypes
          text:
            ja: 装備タイプID
          desc:
            ja: はずす装備タイプ一覧
          type: number[]
    - command: clearAllEquip
      text:
        ja: 装備をすべてはずす
      desc:
        ja: 指定したアクターの装備をすべてはずします。
      args:
        - arg: actorId
          text:
            ja: アクター
          type: actor
    - command: clearAllMemberAllEquip
      text:
        ja: 全員の装備をすべてはずす
      desc:
        ja: パーティメンバー全員の装備をすべてはずします。
  structures:
  help:
    ja: |
      プラグインパラメータの設定をONにしておくと、
      パーティからメンバーが脱退したとき、
      そのメンバーの装備を固定装備を除いてすべてはずします。

      プラグインコマンドによって、指定アクターやパーティ全員の装備を
      装備タイプを指定したり全部位について、固定装備を除いてはずすことができます。
