DarkPlasma_AdditionalAttackAnimation:
  name: DarkPlasma_AdditionalAttackAnimation
  year: 2020
  license: MIT
  histories:
    - date: '2020/11/10'
      version: '2.0.1'
      description: '全体化プラグインとの順序を明記'
    - date: '2020/09/08'
      version: '2.0.0'
      description: 'パラメータ名変更'
    - date: '2020/08/27'
      version: '1.0.0'
      description: 'MZ版公開'

  locates:
    - ja
  plugindesc:
    ja: '攻撃アニメーションを特定条件で追加する'
  parameters:
    - param: additionalAnimations
      desc:
        ja: 追加アニメーション
      text:
        ja: 追加アニメーション
      type: AdditionalAnimation[]
      default: []
  structures:
    AdditionalAnimation:
      - param: animation
        desc:
          ja: 追加で表示するアニメーション
        text:
          ja: アニメーション
        type: animation
        default: 1
      - param: onlyForSomeEnemies
        desc:
          ja: 追加表示対象の敵を限定するか
        text:
          ja: 対象敵限定？
        type: boolean
        default: false
      - param: enemies
        desc:
          ja: 追加表示対象の敵
        text:
          ja: 追加表示対象の敵
        type: enemy[]
        default: []
      - param: onlyForSomeStates
        desc:
          ja: 追加表示対象のステートを限定するか
        text:
          ja: 対象ステート限定？
        type: boolean
        default: false
      - param: states
        desc:
          ja: 追加表示対象のステート
        text:
          ja: 追加表示対象のステート
        type: state[]
        default: []
  dependencies:
    orderAfter: DarkPlasma_ExpandTargetScope
  help:
    ja: |
      攻撃アニメーションを特定条件で追加します。

      以下の条件でアニメーションを追加できます。
      - 特定ステートにかかっている対象
      - 特定の敵
